/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: #424242; }

strong, .bold, h3 {
  font-weight: 700; }

h1, h2 {
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.4px;
  font-weight: 700; }

h4, .sub, h5 {
  font-family: 'Georgia', serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1.68px;
  margin-bottom: 15px; }

* + p, p + ul {
  margin-top: 15px; }

.small {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.2px; }

.info {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.it {
  font-style: italic; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

p a {
  color: #912335; }
  p a:hover {
    text-decoration: underline; }

p img {
  vertical-align: middle;
  display: inline-block; }

.inline {
  display: inline-block; }
  .inline li {
    display: inline-block; }

.dash li {
  position: relative;
  padding-left: 30px; }
  .dash li:before {
    content: "\2014";
    position: absolute;
    left: 0; }

.rot {
  position: relative; }
  .rot > * {
    position: absolute;
    bottom: 100%;
    bottom: calc(100% - 30px);
    left: 15px;
    display: inline-block;
    margin: 0;
    transform: translateX(-75%) rotate(270deg);
    transform-origin: center right;
    text-align: right;
    white-space: nowrap; }

table {
  width: 100%; }

th {
  text-align: left; }
  th + th {
    text-align: right; }

td + td, th + td {
  text-align: right;
  font-weight: 700; }

blockquote {
  padding: 0 0 0 45px;
  margin: 45px 0 0;
  border-left: 1px solid #424242; }

.color-lr {
  color: #9C2539; }
  .color-lr-bg {
    background: #9C2539; }

.color-mr {
  color: #912335; }
  .color-mr-bg {
    background: #912335; }

.color-dr {
  color: #701B29; }
  .color-dr-bg {
    background: #701B29; }

.color-lg {
  color: #F2F2F2; }
  .color-lg-bg {
    background: #F2F2F2; }

.color-mg {
  color: #929292; }
  .color-mg-bg {
    background: #929292; }

.color-dg {
  color: #424242; }
  .color-dg-bg {
    background: #424242; }

.color-lo {
  color: #F3E9DB; }
  .color-lo-bg {
    background: #F3E9DB; }

.color-o {
  color: #E1B77A; }
  .color-o-bg {
    background: #E1B77A; }

.color-pb {
  color: #E0C9A6; }
  .color-pb-bg {
    background: #E0C9A6; }

.color-b {
  color: #B8A18F; }
  .color-b-bg {
    background: #B8A18F; }

.color-pab {
  color: #BDB0AA; }
  .color-pab-bg {
    background: #BDB0AA; }

.color-wht {
  color: #fff; }

.g-1 {
  width: 8.33333%; }

.g-2 {
  width: 16.66667%; }

.g-3 {
  width: 25%; }

.g-4 {
  width: 33.33333%; }

.g-5 {
  width: 41.66667%; }

.g-6 {
  width: 50%; }

.g-7 {
  width: 58.33333%; }

.g-8 {
  width: 66.66667%; }

.g-9 {
  width: 75%; }

.g-10 {
  width: 83.33333%; }

.g-11 {
  width: 91.66667%; }

.g-12 {
  width: 100%; }

@media screen and (min-width: 680px) {
  .g-t-1 {
    width: 8.33333%; } }

@media screen and (min-width: 680px) {
  .g-t-2 {
    width: 16.66667%; } }

@media screen and (min-width: 680px) {
  .g-t-3 {
    width: 25%; } }

@media screen and (min-width: 680px) {
  .g-t-4 {
    width: 33.33333%; } }

@media screen and (min-width: 680px) {
  .g-t-5 {
    width: 41.66667%; } }

@media screen and (min-width: 680px) {
  .g-t-6 {
    width: 50%; } }

@media screen and (min-width: 680px) {
  .g-t-7 {
    width: 58.33333%; } }

@media screen and (min-width: 680px) {
  .g-t-8 {
    width: 66.66667%; } }

@media screen and (min-width: 680px) {
  .g-t-9 {
    width: 75%; } }

@media screen and (min-width: 680px) {
  .g-t-10 {
    width: 83.33333%; } }

@media screen and (min-width: 680px) {
  .g-t-11 {
    width: 91.66667%; } }

@media screen and (min-width: 680px) {
  .g-t-12 {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .g-d-1 {
    width: 8.33333%; } }

@media screen and (min-width: 1024px) {
  .g-d-2 {
    width: 16.66667%; } }

@media screen and (min-width: 1024px) {
  .g-d-3 {
    width: 25%; } }

@media screen and (min-width: 1024px) {
  .g-d-4 {
    width: 33.33333%; } }

@media screen and (min-width: 1024px) {
  .g-d-5 {
    width: 41.66667%; } }

@media screen and (min-width: 1024px) {
  .g-d-6 {
    width: 50%; } }

@media screen and (min-width: 1024px) {
  .g-d-7 {
    width: 58.33333%; } }

@media screen and (min-width: 1024px) {
  .g-d-8 {
    width: 66.66667%; } }

@media screen and (min-width: 1024px) {
  .g-d-9 {
    width: 75%; } }

@media screen and (min-width: 1024px) {
  .g-d-10 {
    width: 83.33333%; } }

@media screen and (min-width: 1024px) {
  .g-d-11 {
    width: 91.66667%; } }

@media screen and (min-width: 1024px) {
  .g-d-12 {
    width: 100%; } }

.row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  width: calc(100% - 30px); }
  .row.\--b {
    align-items: flex-end; }
  .row.\--t {
    align-items: flex-end; }
  .row .row {
    width: 100%; }

.rev {
  flex-direction: row-reverse; }

.fill {
  align-items: stretch;
  flex-wrap: nowrap; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.fac {
  align-items: center; }

.far {
  align-items: flex-end; }

.p0 {
  padding: 0px; }

.ph0 {
  padding: 0 0px; }

.pv0 {
  padding: 0px 0; }

.pt0 {
  padding-top: 0px; }

.pr0 {
  padding-right: 0px; }

.pb0 {
  padding-bottom: 0px; }

.pl0 {
  padding-left: 0px; }

.p1 {
  padding: 15px; }

.ph1 {
  padding: 0 15px; }

.pv1 {
  padding: 15px 0; }

.pt1 {
  padding-top: 15px; }

.pr1 {
  padding-right: 15px; }

.pb1 {
  padding-bottom: 15px; }

.pl1 {
  padding-left: 15px; }

.p2 {
  padding: 30px; }

.ph2 {
  padding: 0 30px; }

.pv2 {
  padding: 30px 0; }

.pt2 {
  padding-top: 30px; }

.pr2 {
  padding-right: 30px; }

.pb2 {
  padding-bottom: 30px; }

.pl2 {
  padding-left: 30px; }

.p3 {
  padding: 45px; }

.ph3 {
  padding: 0 45px; }

.pv3 {
  padding: 45px 0; }

.pt3 {
  padding-top: 45px; }

.pr3 {
  padding-right: 45px; }

.pb3 {
  padding-bottom: 45px; }

.pl3 {
  padding-left: 45px; }

.p4 {
  padding: 60px; }

.ph4 {
  padding: 0 60px; }

.pv4 {
  padding: 60px 0; }

.pt4 {
  padding-top: 60px; }

.pr4 {
  padding-right: 60px; }

.pb4 {
  padding-bottom: 60px; }

.pl4 {
  padding-left: 60px; }

.p5 {
  padding: 75px; }

.ph5 {
  padding: 0 75px; }

.pv5 {
  padding: 75px 0; }

.pt5 {
  padding-top: 75px; }

.pr5 {
  padding-right: 75px; }

.pb5 {
  padding-bottom: 75px; }

.pl5 {
  padding-left: 75px; }

.p6 {
  padding: 90px; }

.ph6 {
  padding: 0 90px; }

.pv6 {
  padding: 90px 0; }

.pt6 {
  padding-top: 90px; }

.pr6 {
  padding-right: 90px; }

.pb6 {
  padding-bottom: 90px; }

.pl6 {
  padding-left: 90px; }

.p7 {
  padding: 105px; }

.ph7 {
  padding: 0 105px; }

.pv7 {
  padding: 105px 0; }

.pt7 {
  padding-top: 105px; }

.pr7 {
  padding-right: 105px; }

.pb7 {
  padding-bottom: 105px; }

.pl7 {
  padding-left: 105px; }

.p8 {
  padding: 120px; }

.ph8 {
  padding: 0 120px; }

.pv8 {
  padding: 120px 0; }

.pt8 {
  padding-top: 120px; }

.pr8 {
  padding-right: 120px; }

.pb8 {
  padding-bottom: 120px; }

.pl8 {
  padding-left: 120px; }

.p9 {
  padding: 135px; }

.ph9 {
  padding: 0 135px; }

.pv9 {
  padding: 135px 0; }

.pt9 {
  padding-top: 135px; }

.pr9 {
  padding-right: 135px; }

.pb9 {
  padding-bottom: 135px; }

.pl9 {
  padding-left: 135px; }

.p10 {
  padding: 150px; }

.ph10 {
  padding: 0 150px; }

.pv10 {
  padding: 150px 0; }

.pt10 {
  padding-top: 150px; }

.pr10 {
  padding-right: 150px; }

.pb10 {
  padding-bottom: 150px; }

.pl10 {
  padding-left: 150px; }

.p11 {
  padding: 165px; }

.ph11 {
  padding: 0 165px; }

.pv11 {
  padding: 165px 0; }

.pt11 {
  padding-top: 165px; }

.pr11 {
  padding-right: 165px; }

.pb11 {
  padding-bottom: 165px; }

.pl11 {
  padding-left: 165px; }

.p12 {
  padding: 180px; }

.ph12 {
  padding: 0 180px; }

.pv12 {
  padding: 180px 0; }

.pt12 {
  padding-top: 180px; }

.pr12 {
  padding-right: 180px; }

.pb12 {
  padding-bottom: 180px; }

.pl12 {
  padding-left: 180px; }

.flex {
  display: flex; }
  .flex span {
    width: 100%; }
  .flex.split {
    justify-content: space-between; }
    .flex.split span {
      width: auto; }

.col {
  flex-direction: column;
  flex-wrap: nowrap; }
  .col.fill div {
    height: 100%; }
  .col.split {
    justify-content: space-between; }

footer {
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100%;
  left: 0; }

main {
  position: relative;
  z-index: 1;
  margin-bottom: 120px;
  background: #fff; }

.btn {
  background: #912335;
  color: #fff;
  font-weight: 900;
  padding: 15px 45px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: inline-block; }
  .btn.fill {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.4px;
    position: relative; }
    .btn.fill:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 100%;
      background: #912335; }

/*# sourceMappingURL=main.css.map */
