@for $i from 1 through $columns {
	.g-#{$i} {
		width: #{(100% / $columns) * $i}
	}
}

@for $i from 1 through $columns {
	.g-t-#{$i} {
		@media screen and (min-width: $bp-t){
			width: #{(100% / $columns) * $i}	
		}
	}
}

@for $i from 1 through $columns {
	.g-d-#{$i} {
		@media screen and (min-width: $bp-d){
			width: #{(100% / $columns) * $i}	
		}
	}
}



.row{
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	width: calc(100% - #{$padding*2});

	&.\--b{
		align-items: flex-end;
	}
	&.\--t{
		align-items: flex-end;
	}
	.row{
		width: 100%;
	}
}
.rev{
	flex-direction: row-reverse;
}
.fill{
	align-items: stretch;
	flex-wrap: nowrap;
}