.tar{
	text-align: right;
}
.tac{
	text-align: center;
}
.fac{
	align-items: center;
}
.far{
	align-items: flex-end;
}


@for $i from 0 through $columns {
	.p#{$i}{
		padding: $padding * $i;
	}
	.ph#{$i}{
		padding: 0 $padding * $i;
	}
	.pv#{$i}{
		padding: $padding * $i 0;
	}
	.pt#{$i}{
		padding-top: $padding * $i;
	}
	.pr#{$i}{
		padding-right: $padding * $i;
	}
	.pb#{$i}{
		padding-bottom: $padding * $i;
	}
	.pl#{$i}{
		padding-left: $padding * $i;
	}
}



.flex{
	display: flex;
	span{
		width: 100%;
	}
	&.split{
		justify-content: space-between;
		span{
			width: auto;
		}
	}
}
.col{
	flex-direction: column;
	flex-wrap: nowrap;
	&.fill{
		div{
			height: 100%;
		}	
	}
	&.split{
		justify-content: space-between;
	}
}
