*{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	display: block;
}
a{
	color: inherit;
	text-decoration: none;
}
p a{
	color: $main-red;
	&:hover{
		text-decoration: underline;
	}
}

p{
	img{
		vertical-align: middle;
		display: inline-block;
	}
}
.inline{
	display: inline-block;
	li{
		display: inline-block;
	}
}
.dash{
	li{
		position: relative;
		padding-left: $padding*2;
		&:before{
			content:"\2014";
			position: absolute;
			left: 0;
		}
	}
}
.rot{
	position: relative;
	& > *{
		position: absolute;
		bottom: 100%;
		bottom: calc(100% - #{$padding * 2});
		left: $padding;
		display: inline-block;
		margin: 0;
		transform: translateX(-75%) rotate(270deg);
		transform-origin: center right;
    text-align: right;
    white-space: nowrap;
	}
}
table{
	width: 100%;
}
th{
	text-align: left;
	& + th{
		text-align: right;
	}
}
td + td, th + td{
	text-align: right;
	font-weight: 700;
}

blockquote{
	padding: 0 0 0 $padding*3;
	margin: $padding*3 0 0;
	border-left: 1px solid $dark-grey;
}