//$light-red $main-red $dark-red $light-grey $medium-grey $dark-grey $orangy $pale-brown $brown $pastel-brown;

.color-lr{
	color: $light-red;
	&-bg{
		background: $light-red;
	}	
}
.color-mr{
	color: $main-red;
	&-bg{
		background: $main-red;
	}	
}
.color-dr{
	color: $dark-red;
	&-bg{
		background: $dark-red;
	}	
}

.color-lg{
	color: $light-grey;
	&-bg{
		background: $light-grey;
	}	
}
.color-mg{
	color: $medium-grey;
	&-bg{
		background: $medium-grey;
	}	
}
.color-dg{
	color: $dark-grey;
	&-bg{
		background: $dark-grey;
	}	
}
.color-lo{
	color: $light-orange;
	&-bg{
		background: $light-orange;
	}
}
.color-o{
	color: $orangy;
	&-bg{
		background: $orangy;
	}
}
.color-pb{
	color: $pale-brown;
	&-bg{
		background: $pale-brown;
	}	
}
.color-b{
	color: $brown;
	&-bg{
		background: $brown;
	}	
}
.color-pab{
	color: $pastel-brown;
	&-bg{
		background: $pastel-brown;
	}	
}
.color-wht{
	color: #fff;
}