// colours

$light-red: #9C2539;
$main-red: #912335;
$dark-red: #701B29;
$light-grey: #F2F2F2;
$medium-grey: #929292;
$dark-grey: #424242;
$orangy: #E1B77A;
$light-orange: #F3E9DB;
$pale-brown: #E0C9A6;
$brown: #B8A18F;
$pastel-brown: #BDB0AA;



// Font sizes
$def: 18px;
$def-lh: 35px;
$def-ls: -0.2px;

$tight-ls: -0.5px;

$small: 14px;
$small-lh: 21px;
$small-ls: -0.2px;

$h1: 36px;
$h1-lh: 43px;
$h1-ls: -0.4px;



$info: 20px;
$info-lh: 24px;
$info-ls: -0.2px;

// Grid

$columns: 12;

$padding: 30px / 2;

// Break points

$bp-t: 680px;
$bp-d: 1024px;