body{
	font-family: 'Barlow', sans-serif;
	font-size: $def;
	line-height: $def-lh;
	letter-spacing: $def-ls;
	font-weight: 500;
	color: $dark-grey;
}

strong, .bold, h3{
	font-weight: 700;
}

h1, h2{
	font-size: $h1;
	line-height: $h1-lh;
	letter-spacing: $h1-ls;
	font-weight: 700;
}

h4, .sub, h5{
	font-family: 'Georgia', serif;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 1.68px;
	margin-bottom: $padding;
}
* + p, p + ul{
	margin-top: $padding;
}

.small{
	font-size: $small;
	line-height: $small-lh;
	letter-spacing: $small-ls;	

}
.info{
	font-size: $info;
	line-height: $info-lh;
	letter-spacing: $info-ls;	
}
.it{
	font-style: italic;
}