.btn{
	background: $main-red;
	color: #fff;
	font-weight: 900;
	padding: $padding $padding*3;
	font-size: $info;
	line-height: $info-lh;
	letter-spacing: $info-ls;
	display: inline-block;
	&.fill{
		display: flex;
		align-items: center;
		font-size: $h1;
		line-height: $h1-lh;
		letter-spacing: $h1-ls;
		position: relative;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 100%;
			background: $main-red;
		}
	}
}
